
//Colors
//Primary

$color_verdeLimon:hsl(171, 66%, 44%);
$color_verdeLimon_claro:hsl(171, 55%, 61%);

$color_azulPastel: hsl(233, 100%, 69%);
$color_azulPastel_claro: hsl(233, 76%, 77%);

//Neutral

$color_morado: hsl(210, 10%, 33%);
$color_celeste: hsl(201, 11%, 66%);


//personalizados
$font_titleA:35px;
$font_titleB:28px;
$font_titleC:20px;


